<li class="menuChoices optColor">
    <button class="option optOther optColor c0A0" type="button"><span id="optionMenu"><i class="fa fa-paint-brush fa-lg fa-inverse" aria-hidden="true"></i></span></button>
    <ul class="colorUL">
        <li class="colorLI">
            <label for="000"><span class="color c000">{{ form_widget(form.color[0]) }}</span></label>
            <label for="222"><span class="color c222">{{ form_widget(form.color[1]) }}</span></label>
            <label for="696"><span class="color c696">{{ form_widget(form.color[2], {'attr': {'checked': 'true'}}) }}</span></label>
            <label for="999"><span class="color c999">{{ form_widget(form.color[3]) }}</span></label>
            <label for="DDD"><span class="color cDDD">{{ form_widget(form.color[4]) }}</span></label>
            <label for="FFF"><span class="color cFFF">{{ form_widget(form.color[5]) }}</span></label>
        </li>
        <li class="colorLI">
            <label for="E00"><span class="color cE00">{{ form_widget(form.color[6]) }}</span></label>
            <label for="72C"><span class="color c72C">{{ form_widget(form.color[7]) }}</span></label>
            <label for="008"><span class="color c008">{{ form_widget(form.color[8]) }}</span></label>
            <label for="099"><span class="color c099">{{ form_widget(form.color[9]) }}</span></label>
            <label for="0A0"><span class="color c0A0">{{ form_widget(form.color[10]) }}</span></label>
            <label for="F91"><span class="color cF91">{{ form_widget(form.color[11]) }}</span></label>
        </li>
        <li class="colorLI">
            <label for="F00"><span class="color cF00">{{ form_widget(form.color[12]) }}</span></label>
            <label for="D0F"><span class="color cD0F">{{ form_widget(form.color[13]) }}</span></label>
            <label for="22F"><span class="color c22F">{{ form_widget(form.color[14]) }}</span></label>
            <label for="6DF"><span class="color c6DF">{{ form_widget(form.color[15]) }}</span></label>
            <label for="0F0"><span class="color c0F0">{{ form_widget(form.color[16]) }}</span></label>
            <label for="FD0"><span class="color cFD0">{{ form_widget(form.color[17]) }}</span></label>
        </li>
        <li class="colorLI">
            <label for="F44"><span class="color cF44">{{ form_widget(form.color[18]) }}</span></label>
            <label for="F2E"><span class="color cF2E">{{ form_widget(form.color[19]) }}</span></label>
            <label for="08F"><span class="color c08F">{{ form_widget(form.color[20]) }}</span></label>
            <label for="0FF"><span class="color c0FF">{{ form_widget(form.color[21]) }}</span></label>
            <label for="BF0"><span class="color cBF0">{{ form_widget(form.color[22]) }}</span></label>
            <label for="EE0"><span class="color cEE0">{{ form_widget(form.color[23]) }}</span></label>
        </li>
        <li class="colorLI">
            <label for="F05"><span class="color cF05">{{ form_widget(form.color[24]) }}</span></label>
            <label for="F6F"><span class="color cF6F">{{ form_widget(form.color[25]) }}</span></label>
            <label for="0AE"><span class="color c0AE">{{ form_widget(form.color[26]) }}</span></label>
            <label for="9FF"><span class="color c9FF">{{ form_widget(form.color[27]) }}</span></label>
            <label for="5F9"><span class="color c5F9">{{ form_widget(form.color[28]) }}</span></label>
            <label for="FF0"><span class="color cFF0">{{ form_widget(form.color[29]) }}</span></label>
        </li>
    </ul>
</li>
