<div class="survey" id="survey_{{ survey.id }}">
    <div class="question">
        {{ survey.question }}
    </div>
    <div class="surveyUser">
        {{ 'by'|trans }} {{ survey.user.firstName }} {{ survey.user.lastName }}
    </div>
    <i class="icofont-navigation-menu fs16 burgerMenu">
        <div class="burgerMenuContent">
            {% if app.user == survey.user %}
                <a href="#">{{ 'edit'|trans }}</a>
                <a href="#">{{ 'delete'|trans }}</a>
            {% endif %}
            <a onclick="refreshSurvey({{ survey.id }}, this)">{{ 'refresh'|trans }}</a>
        </div>
    </i>
    {% if survey.answersTotal != 0 %}
        <div class="results">
            {% for key, value in survey.answersByPercentage %}
                <span style="background-color: #{{ survey.color[key] }}; width: {{ value }}%;">{{ key }}</span>
            {% endfor %}
        </div>
        <div class="resultsValues">
            {% for value in survey.answersByPercentage %}
                <span style="width: {{ value }}%;">{{ value|number_format(2, 'decimal_point'|trans) }}%</span>
            {% endfor %}
        </div>
    {% endif %}
    <div class="surveyForm">
        {% for key, value in survey.answers %}
            <label>
                <input name="surveyOption{{ survey.id }}" value="{{ key }}" type="radio">{{ key }}
            </label>
        {% endfor %}
        <button type="button" class="send" onclick="sendSurvey({{ survey.id }}, this)">{{ 'send'|trans }}</button>
        <span>{{ survey.answersTotal }} {{ 'votes'|trans }}</span>
        <span style="display: none;" id="surveySuccess{{ survey.id }}"><i class="icofont-check-alt"></i> {{ 'vote_success'|trans }}</span>
        <span style="display: none; color: red;" id="surveyError{{ survey.id }}"><i class="icofont-close-line"></i> {{ 'vote_error'|trans }}</span>
    </div>
</div>
<script>
    re = new RegExp("^\\s+$")

    document.getElementsByClassName("results")[0].childNodes.forEach(function (elt) {if (re.test(elt.data)) {elt.parentNode.removeChild(elt);}})
    document.getElementsByClassName("resultsValues")[0].childNodes.forEach(function (elt) {if (re.test(elt.data)) {elt.parentNode.removeChild(elt);}})
</script>
