{% extends "base.html.twig" %}

{% block title %}
{{ 'admin_area'|trans }} - HAY
{% endblock %}

{% block body %}
{{ include("menu.html.twig") }}
<div class="userMenu fs16 ffSS">
    <a href="#">{{ 'complaints_office'|trans }}<i class="icofont-thin-double-right"></i></a>
    <a href="#">{{ 'investigations'|trans }}<i class="icofont-thin-double-right"></i></a>
    <a href="#">{{ 'false_accounts'|trans }}<i class="icofont-thin-double-right"></i></a>
    <a href="#">{{ 'manage_roles'|trans }}<i class="icofont-thin-double-right"></i></a>
    <a href="#">{{ 'manage_laws'|trans }}<i class="icofont-thin-double-right"></i></a>
    <a href="#">{{ 'manage_authorization'|trans }}<i class="icofont-thin-double-right"></i></a>
</div>
{% endblock %}
