{% extends "base.html.twig" %}

{% block title %}
{{ 'dev_area'|trans }} - HAY
{% endblock %}

{% block body %}
{{ include("menu.html.twig") }}
<div class="userMenu fs16 ffSS">
    <a href="#">{{ 'manage_profiler'|trans }}<i class="icofont">thin_double_right</i></a>
    <a href="#">{{ 'source_code'|trans }}<i class="icofont">thin_double_right</i></a>
    <a href="#">{{ 'dev_tools'|trans }}<i class="icofont">thin_double_right</i></a>
    <a href="#">{{ 'submit_modif'|trans }}<i class="icofont">thin_double_right</i></a>
    <a href="#">{{ 'gitlab_interface'|trans }}<i class="icofont">thin_double_right</i></a>
</div>
{% endblock %}
