{% extends "base.html.twig" %}

{% block title %}
{{ 'helper_area'|trans }} - HAY
{% endblock %}

{% block body %}
{{ include("menu.html.twig") }}
<div class="userMenu fs16 ffSS">
    <a href="#">{{ 'questions_office'|trans }}<i class="icofont icofont-thin-double-right"></i></a>
    <a href="#">{{ 'ideas_office'|trans }}<i class="icofont icofont-thin-double-right"></i></a>
    <a href="#">{{ 'manage_doc'|trans }}<i class="icofont icofont-thin-double-right"></i></a>
    <a href="#">{{ 'submit_modif'|trans }}<i class="icofont icofont-thin-double-right"></i></a>
</div>
{% endblock %}