{% extends "base.html.twig" %}

{% block title %}
{{ 'trans_area'|trans }} - HAY
{% endblock %}

{% block body %}
{{ include("menu.html.twig") }}
<div class="userMenu fs16 ffSS">
    <a href="#">{{ 'manage_translations'|trans }}<i class="icofont icofont-thin-double-right"></i></a>
    <a href="#">{{ 'submit_modif'|trans }}<i class="icofont icofont-thin-double-right"></i></a>
    <a href="#">{{ 'gitlab_interface'|trans }}<i class="icofont icofont-thin-double-right"></i></a>
</div>
{% endblock %}