<div class="com fs16" style="width: calc(600px * var(--length-multiplication)); position: relative;">
    <div class="infHAY-corner" style="position: absolute; left: calc(25px * var(--length-multiplication)); right: 0px; bottom: calc(30px * var(--length-multiplication));"></div>
    <div class="commentContent" style="margin-top: 0;">
        <div class="comInf" style="border: 0px; border-bottom: calc(1px * var(--length-multiplication)) solid grey; width: calc(550px * var(--length-multiplication)); margin-bottom: calc(5px * var(--length-multiplication));">
            <a style="justify-content: center;" href="{{ url('user_show', {'id': comment.user.id}) }}">
                <img src="{{ comment.user.url }}" alt="{{ comment.user.alt }}" style="width: calc(40px * var(--length-multiplication)); height: calc(40px * var(--length-multiplication));" />
            </a>
            <a href="{{ url('user_show', {'id': comment.user.id}) }}" class="fs16" style="border-left: calc(1px * var(--length-multiplication)) solid grey; padding-left: calc(15px * var(--length-multiplication)); width: 85%; color: grey;">
                {{ comment.user.firstName }} {{ comment.user.lastName }}
                {% if comment.user.username %}{{ 'alias'|trans }} {{ comment.user.username }} {% endif %}
                {{ 'has_comment'|trans }}
            </a>
            <div style="display: flex; padding: calc(5px * var(--length-multiplication)); cursor: default; padding-top: calc(2.5px * var(--length-multiplication)); grid-row: 1; -ms-grid-row: 1; justify-content: center;">
                {% if app.user %}
                {% if comment.user.id == app.user.id %}
                    {% if is_granted('comment.delete') %}<a class="icofont-ui-delete fs16" style="margin-right: calc(5px * var(--length-multiplication)); text-decoration: none; color: grey;" href="{{ url('comment_delete', {'id': comment.id}) }}"></a>{% endif %}
                    {% if is_granted('comment.edit') %}<a class="icofont-pencil-alt-2 fs16" style="margin-right: calc(5px * var(--length-multiplication)); text-decoration: none; color: grey;" href="{{ url('comment_edit', {'id': comment.id}) }}"></a>{% endif %}
                {% endif %}
                {% endif %}
                <i class="icofont-navigation-menu fs16 burgerMenu" style="color: grey;">
                    <div class="burgerMenuContent">
                        <a href="{{ url('comment_show', {'id': comment.id}) }}">{{ 'show_comment'|trans }}</a>
                        <a onclick="openReportWindow('comment', '{{ comment.id }}');" style="cursor: pointer;">{{ 'report'|trans }}</a>
                    </div>
                </i>
            </div>
            <div style="text-align: center; grid-row: 2; -ms-grid-row: 2; font-size: calc(8px * var(--length-multiplication)); color: grey; margin: 0px calc(5px * var(--length-multiplication));">
                {{ comment.dateSend|date('date_format'|trans) }}
            </div>
        </div>
        {{ comment.comment|escape|replace({'&lt;br /&gt;': '<br />'})|raw }}
    </div>
</div>
