{% extends "base.html.twig" %}

{% block title %}
{{ 'show_comment'|trans }} - HAY
{% endblock %}

{% block body %}

{{ include("menu.html.twig") }}

<div>
    <div class="com" style="background-image: url('/ressources/anti-coin.png'); background-size: 50px; width: 600px; margin: auto;">
        <table style="border: 0px; border-bottom: 1px solid grey; width: 550; margin-bottom: 5px;">
            <tr>
                <td style="padding-right: 15px;"><a href="{{ url('user_show', {'id': comment.user.id}) }}"><img src="/ressources/icone.png" width="40px" height="40px" alt="{{ 'usr_img'|trans }}" /></a></td>
                <td style="border-left: 1px solid grey; padding-left: 15px; width: 85%; color: grey;"><a href="{{ url('user_show', {'id': comment.user.id}) }}">
                    {{ comment.user.firstName }} {{ comment.user.lastName }}
                    {% if comment.user.username %}{{ 'alias'|trans }} {{ comment.user.username }} {% endif %}
                    {{ 'has_comment'|trans }}
                </a></td>
                <td style="width: 15%; cursor: default">
                    {% if comment.user.id == app.user.id %}
                        <a class="icofont icofont-ui-delete" style="margin-right: 5px; text-decoration: none; color: grey;" href="{{ url('comment_delete', {'id': comment.id}) }}"></a>
                        <a class="icofont icofont-pencil-alt-2" style="margin-right: 5px; text-decoration: none; color: grey;" href="{{ url('comment_edit', {'id': comment.id}) }}"></a>
                    {% endif %}
                    <i class="icofont icofont-navigation-menu" style="color: grey;"></i>
                </td>
            </tr>
        </table>
        {{ comment.comment|escape|replace({'&lt;br /&gt;': '<br />'})|raw }}
    </div>
    <div class="end" style="width: 600px; margin: auto;"></div>
</div>

{% endblock %}
