<li class="menuChoices optColor c0A0 fs16">
    <span class="optionMenu"><i class="icofont-color-bucket" aria-hidden="true"></i></span>
    <div class="colorUL">
        <label for="form_color_0"><span class="color c000">{{ form_widget(form.color[0]) }}</span></label>
        <label for="form_color_1"><span class="color c222">{{ form_widget(form.color[1]) }}</span></label>
        <label for="form_color_2"><span class="color c696">{{ form_widget(form.color[2]) }}</span></label>
        <label for="form_color_3"><span class="color c999">{{ form_widget(form.color[3]) }}</span></label>
        <label for="form_color_4"><span class="color cDDD">{{ form_widget(form.color[4]) }}</span></label>
        <label for="form_color_5"><span class="color cFFF">{{ form_widget(form.color[5]) }}</span></label>
        <label for="form_color_6"><span class="color cE00">{{ form_widget(form.color[6]) }}</span></label>
        <label for="form_color_7"><span class="color c72C">{{ form_widget(form.color[7]) }}</span></label>
        <label for="form_color_8"><span class="color c008">{{ form_widget(form.color[8]) }}</span></label>
        <label for="form_color_9"><span class="color c099">{{ form_widget(form.color[9]) }}</span></label>
        <label for="form_color_10"><span class="color c0A0">{{ form_widget(form.color[10]) }}</span></label>
        <label for="form_color_11"><span class="color cF91">{{ form_widget(form.color[11]) }}</span></label>
        <label for="form_color_12"><span class="color cF00">{{ form_widget(form.color[12]) }}</span></label>
        <label for="form_color_13"><span class="color cD0F">{{ form_widget(form.color[13]) }}</span></label>
        <label for="form_color_14"><span class="color c22F">{{ form_widget(form.color[14]) }}</span></label>
        <label for="form_color_15"><span class="color c6DF">{{ form_widget(form.color[15]) }}</span></label>
        <label for="form_color_16"><span class="color c0F0">{{ form_widget(form.color[16]) }}</span></label>
        <label for="form_color_17"><span class="color cFD0">{{ form_widget(form.color[17]) }}</span></label>
        <label for="form_color_18"><span class="color cF44">{{ form_widget(form.color[18]) }}</span></label>
        <label for="form_color_19"><span class="color cF2E">{{ form_widget(form.color[19]) }}</span></label>
        <label for="form_color_20"><span class="color c08F">{{ form_widget(form.color[20]) }}</span></label>
        <label for="form_color_21"><span class="color c0FF">{{ form_widget(form.color[21]) }}</span></label>
        <label for="form_color_22"><span class="color cBF0">{{ form_widget(form.color[22]) }}</span></label>
        <label for="form_color_23"><span class="color cEE0">{{ form_widget(form.color[23]) }}</span></label>
        <label for="form_color_24"><span class="color cF05">{{ form_widget(form.color[24]) }}</span></label>
        <label for="form_color_25"><span class="color cF6F">{{ form_widget(form.color[25]) }}</span></label>
        <label for="form_color_26"><span class="color c0AE">{{ form_widget(form.color[26]) }}</span></label>
        <label for="form_color_27"><span class="color c9FF">{{ form_widget(form.color[27]) }}</span></label>
        <label for="form_color_28"><span class="color c5F9">{{ form_widget(form.color[28]) }}</span></label>
        <label for="form_color_29"><span class="color cFF0">{{ form_widget(form.color[29]) }}</span></label>
    </div>
</li>
