<!DOCTYPE html>
<html>
    <head>
        <script>
            // Put here JS variables
            var url_home = "{{ url('app_home') }}"
            var url_scope = "{{ url('settings_edit', {'setting': 'default_home_scope_filter', 'value': 'aaa'}) }}"
            var url_limit = "{{ url('settings_edit', {'setting': 'default_home_limit_filter', 'value': 'aaa'}) }}"
            var url_order = "{{ url('settings_edit', {'setting': 'default_home_order_filter', 'value': 'aaa'}) }}"
            var url_markdown = "{{ url('markdown_render') }}"
            var url_report = "{{ url('report', {'type': 'aaa', 'id': 'bbb'}) }}"
            var url_survey = "{{ url('survey_vote', {'survey': 'aaa'}) }}"
            var url_survey_refresh = "{{ url('survey_display', {'survey': 'aaa'}) }}"
            var color = "c" + "{% if color is defined %}{{ color }}{% endif %}"
            var twig_size = "{% if size is defined %}{{ size }}{% endif %}"
        </script>
        <meta charset="UTF-8" />
        <link rel="icon" href="/ressources/HAYlogo.svg" />
        <link rel="stylesheet" href="https://theopenmedium.org/ressources/icofont/icofont.css" type="text/css" />
        <link rel="stylesheet" href="/styles/general.css" type="text/css" />
        <link rel="stylesheet" href="/styles/locale.css" type="text/css" />
        <link rel="stylesheet" href="/styles/login.css" type="text/css" />
        <link rel="stylesheet" href="/styles/menu.css" type="text/css" />
        <link rel="stylesheet" href="/styles/post.css" type="text/css" />
        <link rel="stylesheet" href="/styles/comment.css" type="text/css" />
        <link rel="stylesheet" href="/styles/user.css" type="text/css" />
        <link rel="stylesheet" href="/styles/survey.css" type="text/css" />
        <link rel="stylesheet" href="/styles/font.css" type="text/css" />
        <link rel="stylesheet" href="/styles/markdown.css" type="text/css" />
        <link rel="stylesheet" href="/styles/report.css" type="text/css" />
        <script type="text/javascript" src="/scripts/functions.js"></script>
        <script type="text/javascript" src="/scripts/ajax.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/atom-one-dark.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
        <title>{% block title %}Ce titre a un problème...{% endblock %}</title>
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="" />
        {% block css %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <h1>Oulà !</h1>
        Un problème s'est produit !
        {% endblock %}
        {% block js %}
        {% endblock %}
        <script>
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.open("GET", "{{ url('statistics_record_visits') }}", true);
            xmlhttp.send();
        </script>
    </body>
</html>
