{{ form_start(comment, {'attr': {'class': 'comment c' ~ color, 'action': path('app_comment', {'id': id})}}) }}
{{ form_widget(comment.id_user, {'attr': {'value': app.user.id}}) }}
<table>
    <tr>
        <td><label for="comment_submit_{{ id }}" class="sendCom"><i class="icofont icofont-comment"></i></label>{{ form_widget(comment.submit, {'attr': {'style': 'display: none;'}, 'id': 'comment_submit_' ~ id}) }}</td>
        <td>{{ form_widget(comment.comment, {'attr': {'class': 'taCom', 'placeholder': 'comment'|trans, 'required': false}}) }}</td>
    </tr>
</table>
{{ form_end(comment) }}
