{% extends "base.html.twig" %}

{% block title %}
{{ 'home'|trans }} - HAY
{% endblock %}

{% block body %}

{{ include("menu.html.twig") }}
<div class="filter">
    <div>
        <i class="icofont-world fs26"></i>
    </div>
    <span style="top: 0px;">{{ 'scope'|trans }}
        <select id="scope">
            <option value="all" selected>{{ 'scope_world'|trans }}</option>
            {% if app.user %}
            <optgroup label="{{ 'scope_friends'|trans }}">
                <option value="friends">{{ 'scope_friends'|trans }}</option>
                <option value="frd_and_frd">{{ 'scope_frd_and_frd'|trans }}</option>
            </optgroup>
            {% endif %}{#
            <optgroup label="{{ 'scope_sub'|trans }}">
            <option value="subscribed">{{ 'scope_sub'|trans }}</option>
            <option value="sub_users">{{ 'scope_sub_users'|trans }}</option>
            <option value="sub_pages">{{ 'scope_sub_pages'|trans }}</option>
            <option value="sub_groups">{{ 'scope_sub_groups'|trans }}</option>
            </optgroup>
            <option value="moderation">{{ 'scope_mod'|trans }}</option>#}
            {% if app.user %}<option value="my_posts">{{ 'scope_my_posts'|trans }}</option>{% endif %}
        </select>
        <label for="scope"><i class="icofont-caret-down fs16"></i></label>
    </span>
    <div>
        <i class="icofont-ui-messaging fs26"></i>
    </div>
    <span style="top: 50px;">{{ 'limit'|trans }}<input id="limit" type="number" min="1" max="100" value="10" /></span>
    <div>
        <i class="icofont-loop fs26"></i>
    </div>
    <span style="top: 100px;">{{ 'order'|trans }}<select id="order">
        <option value="DESC" selected>{{ 'order_desc'|trans }}</option>
        <option value="ASC">{{ 'order_asc'|trans }}</option>
    </select><label for="scope"><i class="icofont-caret-down fs16"></i></label></span>{#
    <div>
        <i class="icofont-clock-time fs26"></i>
    </div>
    <span style="top: 150px;"><input id="date_begin" type="date" /><input id="date_end" type="date" /></span>#}
    <div style="cursor: pointer;" onclick="filterPosts();">
        <i class="icofont-arrow-right fs26"></i>
    </div>
    {% if app.user %}
    <div>
        <i class="icofont-diskette fs26"></i>
    </div>
    <span style="top: {#250px#}200px;">
        <button style="cursor: pointer;" onclick="recordAsDefault();">{{ 'record'|trans }}</button>
    </span>
    {% endif %}
</div>
{% if app.user %}{{ include("post/postForm.html.twig") }}{% endif %}
{{ include("post/newPosts.html.twig") }}
{{ include("post/postDisplay.html.twig") }}

<div class="warning" id="filterReady" style="background: green; display: none">
    {{ 'filterReady'|trans }}
    <span id="closeFilterReady" onclick="closeMsg('closeFilterReady');">
        <i class="icofont-close-line"></i>
    </span>
</div>

<div class="warning" id="filterError" onclick="closeFilterError()" style="background: red; display: none">
    {{ 'filterError'|trans }}
    <span id="closeFilterError" onclick="closeMsg('closeFilterError');">
        <i class="icofont-close-line"></i>
    </span>
</div>

{% endblock %}

{% block js %}
<script>

document.getElementsByName('form[color]').forEach(function(element) {
    element.addEventListener('change', changeColor)
})

document.getElementsByName('form[size]').forEach(function(element) {
    element.addEventListener('change', changeSize)
})

document.getElementById('form_color_2').checked = true

</script>
{% endblock %}
