{% extends "base.html.twig" %}

{% block title %}
{{ 'login'|trans }} - HAY
{% endblock %}

{% block body %}
{{ form_start(log_in) }}
<table class="loginBody" width="500px"  style="margin-top: 0px;">
    {# Icon display #}
    {# Affichage des icônes #}
    <tr>
        <td style="padding-bottom: 10px; border-bottom: 1px solid grey;" colspan="2">
            <img src="/resources/icon.svg" alt="Logo" width="150px" height="150px" class="loginIcons" />
        </td>
    </tr>
    <tr>
        <td style="padding-top: 10px;" colspan="2">
            <img src="/resources/HAYlogo.svg" alt="Logo" width="200px" height="200px" class="loginIcons" />
        </td>
    </tr>
    {# Link to log in/sign up page #}
    {# Lien vers la page de connection/inscription #}
    <tr>
        <td>
            <a class="loginSwitch" href="{{ url('app_login') }}">{{ 'login'|trans }}</a>
        </td>
        <td>
            <a class="loginSwitch" href="{{ url('app_signup') }}">{{ 'signup'|trans }}</a>
        </td>
    </tr>
    {# E-mail and password form #}
    {# Formulaire de l'E-mail et du mot de passe #}
    <tr>
        <td width="50%">
            {{ form_widget(log_in.username, {'attr': {'class': 'login', 'placeholder': 'username'|trans ~ ' ' ~ 'or'|trans ~ ' ' ~ 'email'|trans, 'value': last_username}}) }}
        </td>
        <td width="50%">
            {{ form_widget(log_in.password, {'attr': {'class': 'login', 'placeholder': 'password'|trans}}) }}
        </td>
    </tr>
    {# Cookies #}
    <tr>
        <td colspan="2" class="loginRememberme">
            <label for="log_in_rememberme">{{ 'rememberme'|trans }}{{ form_widget(log_in.rememberme) }}</label>
        </td>
    </tr>
    {# Data send #}
    {# Envoie des données #}
    <tr>
        <td colspan="2">
            {{ form_widget(log_in.submit, {'attr': {'class': 'submit'}, 'label': 'to_login'|trans}) }}
        </td>
    </tr>
</table>
{{ form_end(log_in) }}
{% if error %}
<div class="warning" id="Error" style="background: red;">
    {{ error.messageKey|trans(error.messageData, 'security') }}
    <span id="closeError" onclick="closeMsg('closeError');">
        <i class="icofont-close-line"></i>
    </span>
</div>
{% endif %}
{% endblock %}
