<ul class="ulParameter">
    <a href="{{ url('user_show', {'id': app.user.id}) }}">
        <li class="userStats">
            <img src="{{ app.user.url }}" alt="{{ app.user.alt }}" />{{ 'hello'|trans }} {{ app.user.firstname }}
        </li>
    </a>
    <li class="optionMenuChoice">
        <a href="{{ path('user_edit') }}">{{ "edit_user"|trans }}</a>
    </li>
    <li class="optionMenuChoice">
        <a href="{{ path('app_logout') }}">{{ "to_logout"|trans }}</a>
    </li>
</ul>
