<ul class="ulParameter">
    <a href="{{ url('user_show', {'id': app.user.id}) }}">
        <li class="userStats">
            <img src="{{ app.user.url }}" alt="{{ app.user.alt }}" /><span>{{ 'hello'|trans }} {{ app.user.name }}</span>
        </li>
    </a>
    {% if is_granted('user.edit') %}
    <li class="optionMenuChoice">
        <a href="{{ path('user_edit') }}">{{ "edit_user"|trans }}</a>
    </li>
    {% endif %}
    {% if not app.user.isChild %}
    <li class="optionMenuChoice">
        <a href="{{ path('user_child_creation') }}">{{ "create_child_user"|trans }}</a>
    </li>
    {% endif %}
    <li class="optionMenuChoice">
        <a href="{{ path('app_logout') }}">{{ "to_logout"|trans }}</a>
    </li>
    {% if is_granted("administration.access") %}
    <li class="optionMenuChoice" id="admin">
        <a href="{{ path('administration') }}">{{ "admin_area"|trans }}</a>
    </li>
    {% endif %}
</ul>
