{% extends "base.html.twig" %}

{% block title %}
{{ 'signup'|trans }} - HAY
{% endblock %}

{% block body %}
{{ form_start(sign_up) }}
<table class="loginBody" width="500px"  style="margin-top: 0px;">
    {# Icon display #}
    {# Affichage des icônes #}
    <tr>
        <td style="padding-bottom: 10px; border-bottom: 1px solid grey;" colspan="2">
            <img src="/ressources/icon.svg" alt="Logo" width="150px" height="150px" class="loginIcons" />
        </td>
    </tr>
    <tr>
        <td style="padding-top: 10px;" colspan="2">
            <img src="/ressources/HAYlogo.svg" alt="Logo" width="200px" height="200px" class="loginIcons" />
        </td>
    </tr>
    {# Link to log in/sign up page #}
    {# Lien vers la page de connection/inscription #}
    <tr>
        <td>
            <a class="loginSwitch" href="{{ url('app_login') }}">{{ 'login'|trans }}</a>
        </td>
        <td>
            <a class="loginSwitch" href="{{ url('app_signup') }}">{{ 'signup'|trans }}</a>
        </td>
    </tr>
    {# First/last name form #}
    {# Formulaire du nom/prénom #}
    <tr>
        <td width="50%">
            {{ form_widget(sign_up.first_name, {'attr': {'class': 'login', 'placeholder': 'first_name'|trans}}) }}
        </td>
        <td width="50%">
            {{ form_widget(sign_up.last_name, {'attr': {'class': 'login', 'placeholder': 'last_name'|trans}}) }}
        </td>
    </tr>
    {# Pseudo form #}
    {# Formulaire du pseudo #}
    <tr>
        <td colspan="2">
            {{ form_widget(sign_up.username, {'attr': {'class': 'login loginLarge', 'placeholder': 'username'|trans ~ ' (' ~ 'optional'|trans ~ ')'}}) }}
        </td>
    </tr>
    {# E-mail form #}
    {# Formulaire de l'E-mail #}
    <tr>
        <td width="50%">
            {{ form_widget(sign_up.email.first, {'attr': {'class': 'login', 'placeholder': 'email'|trans}}) }}
        </td>
        <td width="50%">
            {{ form_widget(sign_up.email.second, {'attr': {'class': 'login', 'placeholder': 'repeat'|trans}}) }}
        </td>
    </tr>
    {# Password form #}
    {# Formulaire du mot de passe #}
    <tr>
        <td width="50%">
            {{ form_widget(sign_up.password.first, {'attr': {'class': 'login', 'placeholder': 'password'|trans}}) }}
        </td>
        <td width="50%">
            {{ form_widget(sign_up.password.second, {'attr': {'class': 'login', 'placeholder': 'repeat'|trans}}) }}
        </td>
    </tr>
    {# Data send #}
    {# Envoie des données #}
    <tr>
        <td colspan="2">
            {{ form_widget(sign_up.submit, {'attr': {'class': 'submit'}, 'label': 'to_signup'|trans}) }}
        </td>
    </tr>
</table>
{{ form_end(sign_up) }}
{% endblock %}
