{% for status in statusList %}
{# Affichage des textes #}
{# Text display #}
<div class="text">
    {# Informations sur l'expéditeur #}
    {# Sender informations #}
    <div class="infHAY c{{ status[0].color }}">
        <table style="border: 0px;">
            <tr>
                <td style="padding-right: 15px;"><img src="/ressources/icone.png" width="40px" height="40px" alt="Image de profil" /></td>
                <td style="border-left: 1px solid {{ status[0].color != 'FFF' ? 'white' : 'black' }}; padding-left: 15px; font-family: sans-serif; color: {{ status[0].color != 'FFF' ? 'white' : 'black' }};">{{ status.first_name }} {{ status.last_name }} {% if status.username %}alias {{ status.username }} {% endif %}a écrit :</td>
            </tr>
        </table>
    </div>
    <!-------------------------------------------->
    <div class="content c{{ status[0].color }} ff{{ status[0].font }} fs{{ status[0].size }}" style="border-color: {{ status[0].color != 'FFF' ? 'white' : 'black' }};">
        {{ status[0].content }}
    </div>
    <form action="model/new_comment.php" method="post" class="comment c{{ status[0].color }}">
        <input type="hidden" name="id" value="" />
        <table>
            <tr>
                <td><button class="sendCom" type="submit"><img src="/ressources/send-icon.png" width="50px" height="50px" alt="Envoyer" /></button></td>
                <td><textarea class="taCom" name="content" placeholder="Envoyer un commentaire"></textarea></td>
            </tr>
        </table>
    </form>
</div>
{% endfor %}
