{# Send status form #}
<div class="write">
    <form method="post" action="">
        <div class="textarea fs16 c696">Écrire<textarea class="ta fs16" name="content"></textarea></div>
        <div class="footer">
            <ul class="footerMenu">
                {{ include('status/statusOption.html.twig') }}
                {{ include('status/statusDownload.html.twig') }}
                {{ include('status/statusColor.html.twig') }}
                {{ include('status/statusSize.html.twig') }}
                {{ include('status/statusFont.html.twig') }}
                {{ include('status/statusAccount.html.twig') }}
                <li class="menuChoices sendStatus">
                <button type="submit" class="send" value=""><span id="sendArrow"><i class="fa fa-arrow-right fa-lg" aria-hidden="true"></i></span></button>
                </li>
            </ul>
        </div>
    </form>
</div>