{% set i = 0 %}
{% for status in statusList %}
{# Affichage des textes #}
{# Text display #}
<div class="text">
    {# Informations sur l'expéditeur #}
    {# Sender informations #}
    <div class="infHAY c{{ status[0].color }}">
        <table style="border: 0px;">
            <tr>
                <td style="padding-right: 15px;"><img src="/ressources/icone.png" width="40px" height="40px" alt="{{ 'usr_img'|trans }}" /></td>
                <td style="border-left: 1px solid {{ status[0].color != 'FFF' ? 'white' : 'black' }}; padding-left: 15px; font-family: sans-serif; color: {{ status[0].color != 'FFF' ? 'white' : 'black' }};">
                    {{ status.first_name }} {{ status.last_name }} {% if status.username %}{{ 'alias'|trans }} {{ status.username }} {% endif %}{{ 'has_write'|trans }}
                </td>
                <span style="float: right; padding: 5px;">
                    {% if status.id == app.user.id %}
                        <a class="icofont icofont-ui-delete" style="margin-right: 5px; text-decoration: none; color: {{ status[0].color != 'FFF' ? 'white' : 'black' }};" href="{{ url('app_status_delete', {'id': status[0].id}) }}"></a>
                        <a class="icofont icofont-pencil-alt-2" style="margin-right: 5px; text-decoration: none; color: {{ status[0].color != 'FFF' ? 'white' : 'black' }};" href="{{ url('app_status_edit', {'id': status[0].id}) }}"></a>
                    {% endif %}
                    <i class="icofont icofont-navigation-menu"></i>
                </span>
            </tr>
        </table>
    </div>
    {########################################}
    <div class="content c{{ status[0].color }} ff{{ status[0].font }} fs{{ status[0].size }}" style="border-color: {{ status[0].color != 'FFF' ? 'white' : 'black' }};">
        {{ status[0].content|escape|replace({'&lt;br /&gt;': '<br />'})|raw }}
    </div>
    {{ render(url('app_comment', {'id': status[0].id, '_color': status[0].color})) }}
{% if commentList[i] is not empty %}
{% for comment in commentList[i] %}
    <div class="com">
        <table style="border: 0px; border-bottom: 1px solid grey; width: 550; margin-bottom: 5px;">
            <tr>
                <td style="padding-right: 15px;"><img src="/ressources/icone.png" width="40px" height="40px" alt="{{ 'usr_img'|trans }}" /></td>
                <td style="border-left: 1px solid grey; padding-left: 15px; width: 85%; color: grey;">
                    {{ comment.first_name }} {{ comment.last_name }}
                    {% if comment.username %}{{ 'alias'|trans }} {{ comment.username }} {% endif %}
                    {{ 'has_comment'|trans }}
                </td>
                <td style="width: 15%;">
                    {% if comment.id == app.user.id %}
                        <a class="icofont icofont-ui-delete" style="margin-right: 5px; text-decoration: none; color: grey;" href="{{ url('app_comment_delete', {'id': comment[0].id}) }}"></a>
                        <a class="icofont icofont-pencil-alt-2" style="margin-right: 5px; text-decoration: none; color: grey;" href="{{ url('app_comment_edit', {'id': comment[0].id}) }}"></a>
                    {% endif %}
                    <i class="icofont icofont-navigation-menu" style="color: grey;"></i>
                </td>
            </tr>
        </table>
        {{ comment[0].comment|escape|replace({'&lt;br /&gt;': '<br />'})|raw }}
    </div>
{% endfor %}
{% endif %}
    <div class="end"></div>
</div>
{% set i = i + 1 %}
{% endfor %}
