{# Send post form #}
{% if is_granted('post.submit') %}
<div class="write">
    {{ form_start(post) }}
    <div class="textarea fs16 c696">{{ 'write'|trans }}{{ form_widget(post.content, {'attr': {'class': 'ta fs16', 'required': false}}) }}</div>
    <div class="footer">
        <div class="footer-corner"></div>
        <ul class="footerMenu">
            {{ include('post/postOptions/postOption.html.twig') }}
            {{ include('post/postOptions/postDownload.html.twig') }}
            {% if is_granted('post.option_color') %}{{ include('post/postOptions/postColor.html.twig') }}{% endif %}
            {% if is_granted('post.option_textsize') %}{{ include('post/postOptions/postSize.html.twig') }}{% endif %}
            {{ include('post/postOptions/postFont.html.twig') }}
            {{ include('post/postOptions/postAccount.html.twig') }}
            <label for="post_submit"><li class="menuChoices sendPost send fs16">
                <i class="icofont-arrow-right optionMenu" aria-hidden="true"></i>
                {{ form_widget(post.submit, {'attr': {'class': 'sendButton'}, 'label': false}) }}
            </li></label>
        </ul>
        <script>
            re = new RegExp("^\\s+$")

            document.getElementsByClassName("footerMenu")[0].childNodes.forEach(function (elt) {if (re.test(elt.data)) {elt.parentNode.removeChild(elt);}})
        </script>
    </div>
    {{ form_end(post) }}
</div>
{% endif %}