{# Send post form #}
<div class="write">
    {{ form_start(form) }}
    <div class="textarea fs16 c696">{{ 'write'|trans }}{{ form_widget(form.content, {'attr': {'class': 'ta fs16', 'required': false}}) }}</div>
    <div class="footer">
        <ul class="footerMenu">
            {{ include('post/postOptions/postOption.html.twig') }}
            {{ include('post/postOptions/postDownload.html.twig') }}
            {{ include('post/postOptions/postColor.html.twig') }}
            {{ include('post/postOptions/postSize.html.twig') }}
            {{ include('post/postOptions/postFont.html.twig') }}
            {{ include('post/postOptions/postAccount.html.twig') }}
            <label for="form_submit"><li class="menuChoices sendPost send fs16">
                <i class="icofont icofont-arrow-right optionMenu" aria-hidden="true"></i>
                {{ form_widget(form.submit, {'attr': {'class': 'sendButton'}, 'label': false}) }}
                {{ form_end(form) }}
            </li></label>
        </ul>
        <script>
        re = new RegExp("^\\s+$")

        document.getElementsByClassName("footerMenu")[0].childNodes.forEach(function (elt) {if (re.test(elt.data)) {elt.parentNode.removeChild(elt);}})
        </script>
    </div>
</div>
