{% for post in postList %}
{# Text display #}
{# Affichage des textes #}
<div class="text">
    {# Sender informations #}
    {# Informations sur l'expéditeur #}
    <div class="infHAY c{{ post.color }}">
        <table style="border: 0px;">

            <tr>
                <td style="padding-right: 15px;"><a href="{{ url('user_show', {'id': post.user.id}) }}"><img src="{{ post.user.url }}" width="40px" height="40px" alt="{{ post.user.alt }}" /></a></td>
                <td style="border-left: 1px solid {{ post.color != 'FFF' ? 'white' : 'black' }}; padding-left: 15px; font-family: sans-serif; color: {{ post.color != 'FFF' ? 'white' : 'black' }};">
                    <a href="{{ url('user_show', {'id': post.user.id}) }}">
                        {{ post.user.firstName }} {{ post.user.lastName }} {% if post.user.username %}{{ 'alias'|trans }} {{ post.user.username }} {% endif %}{{ 'has_write'|trans }}
                    </a>
                </td>
                <span style="float: right; padding: 5px; cursor: default;">
                    {% if app.user %}
                    {% if post.user.id == app.user.id %}
                        <a class="icofont icofont-ui-delete" style="margin-right: 5px; text-decoration: none; color: {{ post.color != 'FFF' ? 'white' : 'black' }};" href="{{ url('post_delete', {'id': post.id}) }}"></a>
                        <a class="icofont icofont-pencil-alt-2" style="margin-right: 5px; text-decoration: none; color: {{ post.color != 'FFF' ? 'white' : 'black' }};" href="{{ url('post_edit', {'id': post.id}) }}"></a>
                    {% endif %}
                    {% endif %}
                    <i class="icofont icofont-navigation-menu"></i>
                </span>
            </tr>
        </table>
    </div>
    {########################################}
    <div class="content c{{ post.color }} ff{{ post.font }} fs{{ post.size }}" style="border-color: {{ post.color != 'FFF' ? 'white' : 'black' }};">
        {{ post.content|escape|replace({'&lt;br /&gt;': '<br />'})|raw }}
    </div>
    {{ render(url('comment', {'id': post.id, '_color': post.color})) }}
{% if post.comments is not empty %}
{% for comment in post.comments %}
    <div class="com">
        <table style="border: 0px; border-bottom: 1px solid grey; width: 550; margin-bottom: 5px;">
            <tr>
                <td style="padding-right: 15px;"><a href="{{ url('user_show', {'id': comment.user.id}) }}"><img src="{{ comment.user.url }}" width="40px" height="40px" alt="{{ comment.user.alt }}" /></a></td>
                <td style="border-left: 1px solid grey; padding-left: 15px; width: 85%; color: grey;"><a href="{{ url('user_show', {'id': comment.user.id}) }}">
                    {{ comment.user.firstName }} {{ comment.user.lastName }}
                    {% if comment.user.username %}{{ 'alias'|trans }} {{ comment.user.username }} {% endif %}
                    {{ 'has_comment'|trans }}
                </a></td>
                <td style="width: 15%; cursor: default">
                    {% if app.user %}
                    {% if comment.user.id == app.user.id %}
                        <a class="icofont icofont-ui-delete" style="margin-right: 5px; text-decoration: none; color: grey;" href="{{ url('comment_delete', {'id': comment.id}) }}"></a>
                        <a class="icofont icofont-pencil-alt-2" style="margin-right: 5px; text-decoration: none; color: grey;" href="{{ url('comment_edit', {'id': comment.id}) }}"></a>
                    {% endif %}
                    {% endif %}
                    <i class="icofont icofont-navigation-menu" style="color: grey;"></i>
                </td>
            </tr>
        </table>
        {{ comment.comment|escape|replace({'&lt;br /&gt;': '<br />'})|raw }}
    </div>
{% endfor %}
{% endif %}
    <div class="end"></div>
</div>
{% endfor %}
