{% extends "base.html.twig" %}

{% block title %}
{{ 'admin_area'|trans }} - HAY
{% endblock %}

{% block body %}
{{ include("menu.html.twig") }}
<div class="userMenu fs16 ffSS">
    {# MENU TEMPLATE :
    {% if is_authorized(app.user, "administration", "administration_tools", "") %}<a href="#" onclick="openTab('')">{{ ''|trans }}<i class="icofont-thin-double-right"></i></a>{% endif %}
    {% if is_authorized(app.user, "administration", "administration_tools", "") %}<a href="#" onclick="openTab('')" style="background-color: yellow; color: black;">{{ ''|trans }}<i class="icofont-thin-double-right"></i></a>{% endif %}
    #}
    {% if is_authorized(app.user, "administration", "administration_tools", "questions_office") %}<a href="#questions_office" onclick="openTab('questions_office')" style="background-color: yellow; color: black;">{{ 'questions_office'|trans }}<i class="icofont-thin-double-right"></i></a>{% endif %}
    {% if is_authorized(app.user, "administration", "administration_tools", "ideas_office") %}<a href="#ideas_office" onclick="openTab('ideas_office')" style="background-color: yellow; color: black;">{{ 'ideas_office'|trans }}<i class="icofont-thin-double-right"></i></a>{% endif %}
    {% if is_authorized(app.user, "administration", "administration_tools", "manage_doc") %}<a href="#manage_doc" onclick="openTab('manage_doc')" style="background-color: yellow; color: black;">{{ 'manage_doc'|trans }}<i class="icofont-thin-double-right"></i></a>{% endif %}
    {% if is_authorized(app.user, "administration", "administration_tools", "submit_modif") %}<a href="#submit_modif" onclick="openTab('submit_modif')" style="background-color: yellow; color: black;">{{ 'submit_modif'|trans }}<i class="icofont-thin-double-right"></i></a>{% endif %}
    {% if is_authorized(app.user, "administration", "administration_tools", "manage_profiler") %}<a href="#manage_profiler" onclick="openTab('manage_profiler')" style="background-color: yellow; color: black;">{{ 'manage_profiler'|trans }}<i class="icofont-thin-double-right"></i></a>{% endif %}
    {% if is_authorized(app.user, "administration", "administration_tools", "source_code") %}<a href="#source_code" onclick="openTab('source_code')" style="background-color: yellow; color: black;">{{ 'source_code'|trans }}<i class="icofont-thin-double-right"></i></a>{% endif %}
    {% if is_authorized(app.user, "administration", "administration_tools", "dev_tools") %}<a href="#dev_tools" onclick="openTab('dev_tools')" style="background-color: yellow; color: black;">{{ 'dev_tools'|trans }}<i class="icofont-thin-double-right"></i></a>{% endif %}
    {% if is_authorized(app.user, "administration", "administration_tools", "gitlab_interface") %}<a href="#gitlab_interface" onclick="openTab('gitlab_interface')" style="background-color: yellow; color: black;">{{ 'gitlab_interface'|trans }}<i class="icofont-thin-double-right"></i></a>{% endif %}
    {% if is_authorized(app.user, "administration", "administration_tools", "manage_themes") %}<a href="#manage_themes" onclick="openTab('manage_themes')" style="background-color: yellow; color: black;">{{ 'manage_themes'|trans }}<i class="icofont-thin-double-right"></i></a>{% endif %}
    {% if is_authorized(app.user, "administration", "administration_tools", "manage_css") %}<a href="#manage_css" onclick="openTab('manage_css')" style="background-color: yellow; color: black;">{{ 'manage_css'|trans }}<i class="icofont-thin-double-right"></i></a>{% endif %}
    {% if is_authorized(app.user, "administration", "administration_tools", "manage_translations") %}<a href="#manage_translations" onclick="openTab('manage_translations')" style="background-color: yellow; color: black;">{{ 'manage_translations'|trans }}<i class="icofont-thin-double-right"></i></a>{% endif %}
    {% if is_authorized(app.user, "administration", "administration_tools", "complaints_office") %}<a href="#complaints_office" onclick="openTab('complaints_office')">{{ 'complaints_office'|trans }}<i class="icofont-thin-double-right"></i></a>{% endif %}
    {% if is_authorized(app.user, "administration", "administration_tools", "investigations") %}<a href="#investigations" onclick="openTab('investigations')" style="background-color: yellow; color: black;">{{ 'investigations'|trans }}<i class="icofont-thin-double-right"></i></a>{% endif %}
    {% if is_authorized(app.user, "administration", "administration_tools", "false_accounts") %}<a href="#false_accounts" onclick="openTab('false_accounts')" style="background-color: yellow; color: black;">{{ 'false_accounts'|trans }}<i class="icofont-thin-double-right"></i></a>{% endif %}
    {% if is_authorized(app.user, "administration", "administration_tools", "manage_community") %}<a href="#manage_community" onclick="openTab('manage_community')" style="background-color: yellow; color: black;">{{ 'manage_community'|trans }}<i class="icofont-thin-double-right"></i></a>{% endif %}
    {% if is_authorized(app.user, "administration", "administration_tools", "contact_administration") %}<a href="#contact_administration" onclick="openTab('contact_administration')" style="background-color: yellow; color: black;">{{ 'contact_administration'|trans }}<i class="icofont-thin-double-right"></i></a>{% endif %}
    {% if is_authorized(app.user, "administration", "administration_tools", "manage_roles") %}<a href="#manage_roles" onclick="openTab('manage_roles')">{{ 'manage_roles'|trans }}<i class="icofont-thin-double-right"></i></a>{% endif %}
    {% if is_authorized(app.user, "administration", "administration_tools", "manage_authorization") %}<a href="#manage_authorization" onclick="openTab('manage_authorization')">{{ 'manage_authorization'|trans }}<i class="icofont-thin-double-right"></i></a>{% endif %}
    {% if is_authorized(app.user, "administration", "administration_tools", "edit_website") %}<a href="#edit_website" onclick="openTab('edit_website')">{{ 'edit_website'|trans }}<i class="icofont-thin-double-right"></i></a>{% endif %}
    {% if is_authorized(app.user, "administration", "administration_tools", "statistics") %}<a href="#statistics" onclick="openTab('statistics')">{{ 'statistics'|trans }}<i class="icofont-thin-double-right"></i></a>{% endif %}
    {% if is_authorized(app.user, "administration", "administration_tools", "sql_interface") %}<a href="#sql_interface" onclick="openTab('sql_interface')">{{ 'sql_interface'|trans }}<i class="icofont-thin-double-right"></i></a>{% endif %}
    {% if is_authorized(app.user, "administration", "administration_tools", "manage_policy") %}<a href="#manage_policy" onclick="openTab('manage_policy')">{{ 'manage_policy'|trans }}<i class="icofont-thin-double-right"></i></a>{% endif %}
</div>

{% if is_authorized(app.user, "administration", "administration_tools", "complaints_office") %}{{ render(url("administration_complaints_office")) }}{% endif %}
{% if is_authorized(app.user, "administration", "administration_tools", "manage_roles") %}{{ render(url("administration_manage_roles")) }}{% endif %}
{% if is_authorized(app.user, "administration", "administration_tools", "manage_authorization") %}{{ render(url("authorization_manage")) }}{% endif %}
{% if is_authorized(app.user, "administration", "administration_tools", "edit_website") %}{{ render(url("administration_edit_website")) }}{% endif %}
{% if is_authorized(app.user, "administration", "administration_tools", "manage_policy") %}{{ render(url("administration_manage_policy")) }}{% endif %}
{% endblock %}
