{{ form_start(manage_policy) }}
<div class="tabContent" id="manage_policy" style="grid-template-rows: auto auto 500px auto 500px auto;">
    <h1>{{ 'manage_policy'|trans }}</h1>
    <h2>License</h2><h2>Privacy Policy</h2>
    {{ form_widget(manage_policy.license) }}
    {{ form_widget(manage_policy.privacy_policy) }}
    <h2>Cookie Policy</h2><h2>Code Of Conduct</h2>
    {{ form_widget(manage_policy.cookie_policy) }}
    {{ form_widget(manage_policy.code_of_conduct) }}
    <label class="submit" for="manage_policy_submit" style="grid-column: 1/3;">{{ 'edit'|trans }}</label>
</div>
{{ form_end(manage_policy) }}
