{% extends "base.html.twig" %}

{% block title %}
{{ 'root_area'|trans }} - HAY
{% endblock %}

{% block body %}
{{ include("menu.html.twig") }}
<div class="userMenu fs16 ffSS">
    <a href="#" onclick="openTab('edit_website')">{{ 'edit_website'|trans }}<i class="icofont-thin-double-right"></i></a>
    <a href="#" onclick="openTab('statistics')">{{ 'statistics'|trans }}<i class="icofont-thin-double-right"></i></a>
    <a href="#" onclick="openTab('manage_roles')">{{ 'manage_roles'|trans }}<i class="icofont-thin-double-right"></i></a>
    <a href="#" onclick="openTab('manage_authorization')" style="background-color: yellow; color: black;">{{ 'manage_authorization'|trans }}<i class="icofont-thin-double-right"></i></a>
    <a href="#" onclick="openTab('manage_laws')">{{ 'manage_laws'|trans }}<i class="icofont-thin-double-right"></i></a>
    <a href="#" onclick="openTab('sql_interface')">{{ 'sql_interface'|trans }}<i class="icofont-thin-double-right"></i></a>
    <a href="#" onclick="openTab('manage_policy')">{{ 'manage_policy'|trans }}<i class="icofont-thin-double-right"></i></a>
</div>

<div class="tabContent" id="statistics">
    <h1 style="margin-bottom: 0;">{{ 'statistics'|trans }}</h1>
    <div class="criteria">
        Critères :
        <span style="float: right;">
            <select id="type" onchange="change_img()">
                <option value="visits" selected>{{ 'visits'|trans }}</option>
                <option value="requests">{{ 'requests'|trans }}</option>
                <option value="new_users">{{ 'new_users'|trans }}</option>
                <option value="new_posts">{{ 'new_posts'|trans }}</option>
                <option value="new_comments">{{ 'new_comments'|trans }}</option>
            </select>
            <select id="scope" onchange="change_img()">
                <option value="day" selected>{{ 'day'|trans }}</option>
                <option value="month">{{ 'month'|trans }}</option>
                <option value="year">{{ 'year'|trans }}</option>
            </select>
            <input id="n" type="number" value="0" min="0" onchange="change_img()" />
        </span>
    </div>
    <img src="{{ url('statistics_graph', {'type': 'visits', 'scope': 'day'}) }}" id="stat_img" />
    <script>
        // DO NOT PUT THESE FUNCTIONS IN COMMON FILES (FOR OBVIOUS SECURITY REASONS)

        function change_img() {
            url = "{{ url('statistics_graph', {'type': 'aaa', 'scope': 'bbb', 'n': 'ccc'}) }}"

            type = document.getElementById("type").value
            scope = document.getElementById("scope").value
            n = document.getElementById("n").value

            url = url.replace('aaa', type)
            url = url.replace('bbb', scope)
            url = url.replace('ccc', n)

            document.getElementById("stat_img").src = url
        }
    </script>
</div>

{% endblock %}
