{% extends 'base.html.twig' %}

{% block title %}{{ 'see_laws'|trans }}{% endblock %}

{% block body %}
{{ include("menu.html.twig") }}

<span style="color: white; font-family: sans-serif; margin: 0px 50px; display: grid; grid-template-columns: auto fit-content(100%); grid-gap: 30px;">
    <h1 style="border-bottom: 5px solid var(--hay-color);">{{ 'see_laws'|trans }}</h1>
    {% if is_granted('ROLE_ADMIN') %}<a class="icofont-ui-add" href="{{ url('laws_new') }}" style="display: flex; font-size: 2em; justify-content: center; align-items: center;"></a>{% endif %}
</span>

<div class="lawsList">
    {% for laws in lawsList %}
        <div class="laws">
            <div class="lawsName">
                <span>{{ laws.id }}- {{ laws.date|date('Y-m-d') }} {{ laws.title }}</span>
                <span>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a class="icofont-ui-delete" href="{{ url('laws_delete', {'laws': laws.id}) }}"></a>
                    <a class="icofont-pencil-alt-2" href="{{ url('laws_edit', {'laws': laws.id}) }}"></a>
                    {% endif %}
                    <i class="icofont-thin-right" onclick="showLaws(this, {{ laws.id }});" style="cursor: pointer;"></i>
                </span>
            </div>
            <div class="markdown" id="{{ laws.id }}" style="display: none; padding: 10px;">
                {{ laws.content|raw }}
            </div>
        </div>
    {% endfor %}
</div>
<script>
    function showLaws(e, id) {
        markdown = document.getElementById(id)

        if (markdown.style.display == "none") {
            markdown.style.display = "block"
            e.className = "icofont-thin-right icofont-rotate-90"
        } else {
            markdown.style.display = "none"
            e.className = "icofont-thin-right"
        }
    }
</script>
{% endblock %}
