<div class="usersTitle">{{ 'friends'|trans }}</div>
{% if friends is not null %}
    {% for friend in friends %}
        <li class="childUser">
            <a class="childUserName" href="{{ url('user_show', {'id': friend.id}) }}">
                <img src="{{ friend.url }}" alt="{{ friend.alt }}" />
                {{ friend.name }}
            </a>
        </li>
    {% endfor %}
{% endif %}
