<div class="tabContent" id="manage_authorization">
    <h1 style="margin-bottom: 0;">{{ 'manage_authorization'|trans }}</h1>
    <div class="criteria" style="display: flex; padding: 0px; height: 40px;">
        {% for role in forms|keys %}
            <a href="#" onclick="openSubTab('subTab{{ role|capitalize }}')" class="{{ role|lower|split("_")[1] }}"><span>{{ role|lower|split("_")[1]|trans }}</span></a>
        {% endfor %}
    </div>
    {% for role, categories in forms %}
        <div class="subTabContent" id="subTab{{ role|capitalize }}">
            <h1>{{ role|lower|split("_")[1]|trans }}</h1>
            {% for category, form in categories %}
                <h2>{{ category|trans }} {{ "authorizations"|trans }}</h2>
                {{ form(form) }}
            {% endfor %}
        </div>
    {% endfor %}
</div>
