{% extends "base.html.twig" %}

{% block title %}
{{ 'edit_user'|trans }} "{{ app.user.name }}" - HAY
{% endblock %}

{% block body %}
{{ form_start(edit_user) }}
<h1 class="userEditTitle fs40">{{ 'edit_user'|trans }} {{ app.user.name }}</h1>
<div class="userEdit">
    {#####}
    <span>{{ 'usr_name'|trans }}</span>
    <span>{{ form_widget(edit_user.first_name, {'attr': {'class': 'login', 'placeholder': 'first_name'}}) }}</span>
    <span>{{ form_widget(edit_user.last_name, {'attr': {'class': 'login', 'placeholder': 'last_name'}}) }}</span>
    {#####}
    <span>{{ 'username'|trans }}</span>
    <span style="grid-column: 2/4;">{{ form_widget(edit_user.username, {'attr': {'class': 'login loginLarge', 'placeholder': 'username'}}) }}</span>
    {#####}
    <span>{{ 'usr_img'|trans }}</span>
    <span><img src="{{ app.user.url }}" alt="{{ app.user.alt }}" />{{ form_widget(edit_user.file, {'attr': {'accept': 'image/*'}}) }}</span>
    <span>{{ form_widget(edit_user.alt, {'attr': {'class': 'login', 'placeholder': 'alt'}}) }}</span>
    {#####}
    <span>{{ 'email'|trans }}</span>
    <span>{{ form_widget(edit_user.email.first, {'attr': {'class': 'login loginLarge', 'placeholder': 'email'}}) }}</span>
    <span>{{ form_widget(edit_user.email.second, {'attr': {'class': 'login loginLarge', 'placeholder': 'repeat'}}) }}</span>
    {#####}
    <span>{{ 'password'|trans }}</span>
    <span>{{ form_widget(edit_user.password.first, {'attr': {'class': 'login loginLarge', 'placeholder': 'password'}}) }}</span>
    <span>{{ form_widget(edit_user.password.second, {'attr': {'class': 'login loginLarge', 'placeholder': 'repeat'}}) }}</span>
    {#####}
    <span style="grid-column: 1/3;">{{ form_widget(edit_user.conf_password, {'attr': {'class': 'login loginVeryLarge', 'placeholder': 'conf_password'}}) }}</span>
    <span>{{ form_widget(edit_user.submit, {'attr': {'class': 'submit'}, 'label': 'edit'}) }}</span>
</div>
{{ form_end(edit_user) }}

{% if error is defined %}
<div class="warning" id="Error" style="background: red;">
    {{ error|trans }}
    <span id="closeError" onclick="closeMsg('closeError');">
        <i class="icofont-close-line"></i>
    </span>
</div>
{% endif %}
{% endblock %}
