{% extends "base.html.twig" %}

{% block title %}
{{ user.name}} - HAY
{% endblock %}

{% block body %}

{{ include("menu.html.twig") }}

<div class="userMenu fs16 ffSS">
    <div class="userInfo">
        <img src="{{ user.url }}" alt="{{ user.url }}" class="userImg" />
        {{ user.name }}
        {% if user.username %}<br />@{{ user.username }}{% endif %}
    </div>
    {% if app.user %}
    {% if app.user.id != user.id %}
    {% if friend == "no" and is_granted('user.friend_request', user) %}
    <a class="friend" href="{{ url('friend_add', {'id': user.id}) }}">{{ 'add_friend'|trans }}</a>
    {% elseif friend == "accept" and is_granted('user.friend_request', user) %}
    <a class="friend" href="{{ url('friend_add', {'id': user.id}) }}">{{ 'accept_friend'|trans }}</a>
    {% elseif friend == "requested" %}
    <a class="friend" id="fselected">{{ 'friend_requested'|trans }}</a>
    {% elseif friend == "yes" %}
    <a class="friend" id="fselected">{{ 'are_friend'|trans }}</a>
    {% endif %}
    {% endif %}
    {% endif %}
    <a href="#">{{ 'about'|trans }}<i class="icofont-thin-double-right"></i></a>
    <a id="selected" href="{{ url('user_show', {'id': user.id}) }}">{{ 'post'|trans }}<i class="icofont-thin-double-right"></i></a>
    <a href="#">{{ 'photo'|trans }}<i class="icofont-thin-double-right"></i></a>
    <a href="#">{{ 'video'|trans }}<i class="icofont-thin-double-right"></i></a>
    <a href="#">{{ 'files'|trans }}<i class="icofont-thin-double-right"></i></a>
    <a href="#">{{ 'blog'|trans }}<i class="icofont-thin-double-right"></i></a>
</div>

<div style="margin-left: 250px;">
{{ include("post/newPosts.html.twig") }}
{{ include("post/postDisplay.html.twig") }}
</div>

{% endblock %}
