<div class="reportList">
        {% for report in reports %}
            <div class="reportElement">
                <div class="reportName">
                    {% if report.validated is null %}
                        {% if report.needhelp is same as(true) %}
                            <i class="icofont-exclamation-circle" style="color: dodgerblue; grid-row: 1/3; font-size: 50px;"></i>
                        {% else %}
                            <i class="icofont-question-circle" style="color: orange; grid-row: 1/3; font-size: 50px;"></i>
                        {% endif %}
                    {% elseif report.validated is same as(true) %}
                        <i class="icofont-check-circled" style="color: mediumseagreen; grid-row: 1/3; font-size: 50px;"></i>
                    {% elseif report.validated is same as(false) %}
                        <i class="icofont-close-circled" style="color: tomato; grid-row: 1/3; font-size: 50px;"></i>
                    {% endif %}
                    <div>
                        {% if report.reportedComment is not null %}
                            <span style="font-weight: 900;">COMMENT</span>
                        {% elseif report.reportedPost is not null %}
                            <span style="font-weight: 900;">POST</span>
                        {% else %}
                            <span style="font-weight: 900;">USER</span>
                        {% endif %}
                        id: {{ report.id }} / law: {{ report.law }} / emergency: {{ report.emergencyLevel }}
                    </div>
                    <div style="overflow-y: auto; white-space: nowrap;">
                        Reporter Message: {{ report.reporterMsg }}
                    </div>
                    <i class="icofont-thin-right" style="grid-row: 1/3; grid-column: 3; font-size: 50px; cursor: pointer;" onclick="showLaws(this, {{ report.id }});"></i>
                </div>
                <div id="{{ report.id }}" style="display: none; padding: 10px;">
                    <h1>Informations</h1>
                    {% if report.reportedComment is not null %}
                        Comment: <br />
                        <div style="padding: 50px; background-color: var(--bg-light);">
                            {{ render(path('report_render_entity', {'type': 'comment', 'id': report.reportedComment.id})) }}
                        </div>
                        Original Post: <br />
                        <div style="padding: 50px; background-color: var(--bg-light);">
                            {{ render(path('report_render_entity', {'type': 'post', 'id': report.reportedComment.post.id})) }}
                        </div>
                    {% elseif report.reportedPost is not null %}
                        Post: <br />
                        <div style="padding: 50px; background-color: var(--bg-light);">
                            {{ render(path('report_render_entity', {'type': 'post', 'id': report.reportedPost.id})) }}
                        </div>
                    {% else %}
                        NOT SUPPORTED YET
                    {% endif %}
                    {% if report.validated is null %}
                        <h1>Process</h1>
                        {{ render(path('report_process', {'report': report.id})) }}
                    {% else %}
                        Moderators: {% for key, moderator in report.moderators %}{{ moderator.firstName }}{% if (report.moderators|length - 1) != key %}, {% endif %}{% endfor %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
</div>
